

.nav__bar
{
    font-family: poppins;
    display: flex;
    justify-content: flex-end;
    padding: 15px 20px;
    margin-right: 40px;
}

.nav__bar-link
{
    margin-left: 25px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    
}

.nav__bar img{
    width: 100px;
  
    cursor: pointer;
    margin-right: 1000px;
}